.container{
    /* diseño responsive rapidp */
    display: flex;  
    color: navy;
    position: absolute;
    width:auto;
    
    
}

.form {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: brown;
}

