.container{
    background-color:(135, 129, 129);    
    width:250px;
    border-radius: 20px;
    margin:30px;
    padding:30px;
    position: relative;
    text-align: justify; 
    height: 200px;
    size: 100%;
     
}
.nombre{
    font-size: 15px;
}
.imagen{
    height: 300px;
    width: 400px;
    border-radius: 20%;
}
.boton{
    position: absolute;
    top:15px;
    right: 15px;;
}

.nameStyle{
    color:royalblue;
}

.div{
    background-color: lemonchiffon;
    color: royalblue,
    
}