.App{
    /* centramos todos los textos */
    /* display: flex; */
    /* justify-content: center; */
    /* Alineamos todo al centro */
    /* align-items: center; */
    /*Ordenamos las cartas y la searchbox por columnas */
    /* flex-direction:row; */
    /*Esto hace que tengamos espacio entre la searchbox y las cartas*/
    /* Imagen de fondo */
    background-image: url(../lila.jpg);
    /* Sin esto se ve balanco abajo */
    /* height: auto; */
    min-height: 100vh;
}

.contentNav {
    height: 100px;
    width: 100%;
    background-color: aqua;
}

.contentTotal {
    width: 100%;
    background-color: red;
}