.container {
    display:flex;
    margin-bottom: 50px; 
    cursor:pointer;
    padding-bottom: 50px;
}

.link {
    color: black;
    text-decoration:none;
    margin-right: 25px;
    margin-top: 10px;
    padding: 0.5rem;
    border-radius: 16px ;
    border:3px solid black;
    inline-size: 80px;
    background-color: blueviolet;
 
}

.link:hover {
    cursor:pointer;
    color: aqua;
}


.onSearch{

    background-color: brown;
    color: blue;
}